:root {
  --green-bright: #4acf52;
  --max-width: 90rem;
  --max-width-content: 60rem;
}

.l--header {
  background: #000;
  color: #FFF;
  height: 7.5rem;

  .navigation {
    background: var(--green-bright);
    background-image: url('../images/header-bg.png');
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position: 50% -7vw;
    width: 100%;
    height: 7.5rem;
    position: fixed;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: height 0.3s;

    .navigation__inner {
      background-image: none;
      background-color: hsla(0, 0%, 100%, 0);
      max-width: var(--max-width);
      padding: 0 2.75rem;
      margin: 0 auto;

      display: flex;
      justify-content: space-between;
      height: 100%;


      ul {
        list-style: none;
        display: flex;
        align-items: center;

        li {
          display: inline-block;
          font-size: 0.875rem;
          text-transform: uppercase;
          font-weight: bold;

          margin-right: 2rem;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.navigation__logos {
  display: flex;
  position: relative;
  -webkit-align-items: center;
  align-items: center;
}

.navigation__logo {
  height: 7rem;
  margin-right: .5rem;
  transition: opacity 0.3s, height 0.3s, margin-left 0.3s;
}

.article {
  header {
    margin-bottom: 1.75rem;
    display: flex;
    flex-direction: column;
    background: var(--green-bright);
    background-attachment: fixed;
    background-image: url('../images/header-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100vw auto;
    background-position: 50% -7vw;
  }

  main {
    margin: 0 auto;
    max-width: var(--max-width-content);

    img {
      margin-left: -15rem;
      margin-right: -15rem;
      max-width: 90rem;
      position: relative;
      // width: 100%;
    }
  }
}

.article__title {
  margin: 0 auto;
  margin-bottom: -1rem;
  position: relative;
  max-width: var(--max-width-content);
  width: 100%;
  color: #FFF;
}

.article__hero {
  margin: 0 auto;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  transform: translate3d(0, 0, 0);
}

.article__hero--blur {
  filter: blur(.625rem);
  transform: scale(1.1);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // object-position: center top;
  }
}

.article__hero--image {
  margin: 0 auto;
  max-width: var(--max-width-content);
}

.l--main {
  background: transparent;
  background-image: url(../images/pattern.png);
  background-repeat: no-repeat;
  background-size: 50vw auto;
  background-position: right top;
}
